@font-face {
  font-family: 'NanumHuman';
  font-weight: 200;
  font-style: normal;
  font-display: swap;
  src: url('https://cdn.jsdelivr.net/gh/fonts-archive/NanumHuman/NanumHumanEL.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/fonts-archive/NanumHuman/NanumHumanEL.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/fonts-archive/NanumHuman/NanumHumanEL.otf') format('opentype'),
        url('https://cdn.jsdelivr.net/gh/fonts-archive/NanumHuman/NanumHumanEL.ttf') format('truetype');
}
@font-face {
  font-family: 'NanumHuman';
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url('https://cdn.jsdelivr.net/gh/fonts-archive/NanumHuman/NanumHumanLight.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/fonts-archive/NanumHuman/NanumHumanLight.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/fonts-archive/NanumHuman/NanumHumanLight.otf') format('opentype'),
        url('https://cdn.jsdelivr.net/gh/fonts-archive/NanumHuman/NanumHumanLight.ttf') format('truetype');
}
@font-face {
  font-family: 'NanumHuman';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('https://cdn.jsdelivr.net/gh/fonts-archive/NanumHuman/NanumHumanRegular.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/fonts-archive/NanumHuman/NanumHumanRegular.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/fonts-archive/NanumHuman/NanumHumanRegular.otf') format('opentype'),
        url('https://cdn.jsdelivr.net/gh/fonts-archive/NanumHuman/NanumHumanRegular.ttf') format('truetype');
}
@font-face {
  font-family: 'NanumHuman';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url('https://cdn.jsdelivr.net/gh/fonts-archive/NanumHuman/NanumHumanBold.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/fonts-archive/NanumHuman/NanumHumanBold.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/fonts-archive/NanumHuman/NanumHumanBold.otf') format('opentype'),
        url('https://cdn.jsdelivr.net/gh/fonts-archive/NanumHuman/NanumHumanBold.ttf') format('truetype');
}
@font-face {
  font-family: 'NanumHuman';
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  src: url('https://cdn.jsdelivr.net/gh/fonts-archive/NanumHuman/NanumHumanEB.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/fonts-archive/NanumHuman/NanumHumanEB.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/fonts-archive/NanumHuman/NanumHumanEB.otf') format('opentype'),
        url('https://cdn.jsdelivr.net/gh/fonts-archive/NanumHuman/NanumHumanEB.ttf') format('truetype');
}
@font-face {
  font-family: 'NanumHuman';
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  src: url('https://cdn.jsdelivr.net/gh/fonts-archive/NanumHuman/NanumHumanHeavy.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/fonts-archive/NanumHuman/NanumHumanHeavy.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/fonts-archive/NanumHuman/NanumHumanHeavy.otf') format('opentype'),
        url('https://cdn.jsdelivr.net/gh/fonts-archive/NanumHuman/NanumHumanHeavy.ttf') format('truetype');
}